.avatar-card {
    width: 100%; /* Set the width as needed */
    overflow: hidden;
    position: relative;
  }
  
.avatar-container {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
.avatar {
    display: flex; /* Display the image and text in a row */
    align-items: center; /* Vertically align content */
    margin-right: 10px; /* Add margin as needed */
  }
.rounded-avatar {
    padding:10px;
    width: 110px; /* Set the width of the avatar image */
    height: 110px; /* Set the height of the avatar image */
    border-radius: 50%; /* Make the image round */
    object-fit: cover; /* Scale the image to cover its container */
  }
  
  /* You can add additional styling as needed */
  
  